@model DataModel.Exam.ExamCreateDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form asp-action="Create">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Thêm Mới Kỳ Thi</h6>
                    <div class="form-floating mb-3">
                        <input asp-for="EXAM_NAME" type="text" class="form-control">
                        <label asp-for="EXAM_NAME">Tên Kỳ Thi</label>
                        <span asp-validation-for="EXAM_NAME" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="EXAM_CODE" type="text" class="form-control">
                        <label asp-for="EXAM_CODE">Mã Kỳ Thi</label>
                        <span asp-validation-for="EXAM_CODE" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="START_DATE" type="text" class="form-control">
                        <label asp-for="START_DATE">Ngày Bắt Đầu</label>
                        <span asp-validation-for="START_DATE" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="DESCRIPTION" type="text" class="form-control">
                        <label asp-for="DESCRIPTION">Mô Tả</label>
                        <span asp-validation-for="DESCRIPTION" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-check-input" asp-for="STATUS" /> Hoạt Động
                        <span asp-validation-for="STATUS" class="text-danger"></span>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="submit" value="Thêm Mới" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>